body {
  background-image: url("../dungeon.jpg");
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: goldenrod;
  height: 83px;
  font-size: 2em;
  font-family: Verdana;
  top: 400px;
  text-shadow: 2px 2px red;
  opacity: 1;
  transition: all 3s linear;
}

button:hover {
  background-color: #dc9f4b;
}
h3 {
  color: #e2cd0e;
  font-size: 2.5em;
  font-family: fantasy;
  border-color: #dc9f4b;
}
progress {
  height: 200%;
  width: 250px;
}
.navbar-header {
  background-color: beige;
  height: 6em;
  width: 480px;
  border-radius: 12px;
}
.navbar navbar-default {
  top: 0;
  left: 0;
}
.navbar-brand {
  font-size: 4em;
  text-align: justify;
  font-family: Impact;
}

#init {
  top: 100px;
  left: 10px;
  width: 200px;
  position: absolute;
}
p {
  background-color: white;
  padding: 20px 20px;
  position: absolute;
  justify-content: center;
  font-weight: bold;
  width: 579px;
  height: 260px;
  font-size: 1.4em;
  letter-spacing: 2px;
  border-radius: 15px;
}
.story {
  position: absolute;
  -webkit-animation-name: story;
  -webkit-animation-duration: 3.5s;
  animation-name: story;
  animation-duration: 3.5s;
}
@-webkit-keyframes story {
  from {
    top: -200px;
    opacity: 1;
  }
  to {
    top: 0px;
  }
}
#attack {
  top: 450px;
  left: 10px;
  width: 328px;
  height: 83px;
  position: absolute;
}

#combat {
  top: 520px;
  position: absolute;
  left: 10px;
}
